<div class="x_title">
    <h2>{{title}}</h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h4 class="title">Thông tin cơ bản</h4>
                <div class="form-group">
                    <label>Số lượng</label>
                    <input type="number" class="form-control"
                           name="published_external" [(ngModel)]="model.published_external"
                           placeholder="Số lượng" />
                </div>
                <div class="form-group">
                    <label>Ngày bắt đầu</label>
                    <input type="datetime-local" class="form-control"
                           name="published_start" [(ngModel)]="model.published_start"
                           placeholder="Ngày bắt đầu" />
                </div>
                <div class="form-group">
                    <label>Ngày bắt đầu</label>
                    <input type="datetime-local" class="form-control"
                           name="published_end" [(ngModel)]="model.published_end"
                           placeholder="Ngày bắt đầu" />
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-default" [disabled]="loading">Submit</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>